<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue=""/>
    <springProperty scope="context" name="appVersion" source="project.version" defaultValue=""/>
    <springProperty scope="context" name="appHost" source="APP_HOST" defaultValue=""/>
    <springProperty scope="context" name="appPort" source="APP_PORT" defaultValue=""/>
    <springProperty scope="context" name="esServer" source="LOG_ES_SERVER" defaultValue=""/>
    <springProperty scope="context" name="esUsername" source="LOG_ES_USERNAME" defaultValue=""/>
    <springProperty scope="context" name="esPassword" source="LOG_ES_PASSWORD" defaultValue=""/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender name="ES" class="uw.logback.es.appender.ElasticSearchAppender">
        <esServer>${esServer}</esServer>
        <esUsername>${esUsername}</esUsername>
        <esPassword>${esPassword}</esPassword>
        <esIndex>${appName}</esIndex>
        <appInfo>${appName}:${appVersion}</appInfo>
        <appHost>${appHost}:${appPort}</appHost>
        <!-- 最大刷新时间间隔 单位秒 -->
        <maxFlushInSeconds>10</maxFlushInSeconds>
        <!-- 批量提交最小字节数 -->
        <maxKiloBytesOfBatch>8192</maxKiloBytesOfBatch>
        <!-- 批量提交日志最大线程数 -->
        <maxBatchThreads>5</maxBatchThreads>
        <!-- 最大批量线程队列数 -->
        <maxBatchQueueSize>20</maxBatchQueueSize>
        <!-- 每个异常堆栈打印的最大层数 -->
        <maxDepthPerThrowable>20</maxDepthPerThrowable>
        <!-- 需要排除的异常关键字，多个关键字之间用','分割。-->
        <excludeThrowableKeys>org.spring,org.apache,org.apache,java.base,jakarta,com.mysql</excludeThrowableKeys>
        <!-- 开启JMX监控支持,默认未开启 -->
        <jmxMonitoring>false</jmxMonitoring>
    </appender>
    <!-- 默认输出CONSOLE -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!-- 对于非本地开发，都打印到ES -->
    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="ES"/>
        </root>
    </springProfile>
</configuration>
